/* homeViewStyle.scss */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Condensed:wght@700&display=swap');

.bg-img-home {
  background: url("@/assets/FondoAzulFutbol.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5vh;
}

.contenedor-bienvenida h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Aumentar tamaño del texto de las preguntas y centrar los botones */
.contenedor-bienvenida .opcion-arriendo,
.contenedor-bienvenida .opcion-complejo,
.contenedor-bienvenida .opcion-administrador {
  text-align: center;
  margin-bottom: 2rem; /* Aumenta el espacio entre los botones y el texto */
}

.contenedor-bienvenida .opcion-arriendo p,
.contenedor-bienvenida .opcion-complejo p,
.contenedor-bienvenida .opcion-administrador p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ddd;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos para los botones */
v-btn {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  padding: 12px 25px;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    background-color: #c0392b;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ddd;
  text-align: center;
}

  