.Contenedor-Deportista {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Contenedor-Empresa {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Contenedor-Administracion {
    display: flex;
    justify-content: center;
}