@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

.bg-img-register {
    background: url("../FondoRegistro.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.content {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.content header {
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    margin-top: 16px; /* Añadido para espaciar entre campos */
}

.space {
    margin-top: 16px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px; /* Añadido para alinear texto dentro del input */
}

.field input[type="submit"] {
    background: #682efc;
    border: 1px solid #7741fd;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
}

.field input[type="submit"]:hover {
    background: #4a0de4f5;
}
